<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<title>Conferma eliminazione</title>
</head>
<body>
    <h1>Sei sicuro di voler eliminare il torneo "<span th:text="${torneo.nome}"></span>"?</h1>
    <form th:action="@{'/admin/tornei/' + ${torneo.id} + '/delete'}" method="POST">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit">Sì, elimina</button>
        <a th:href="@{/admin/tornei}">Annulla</a>
    </form>
	<div th:replace="~{fragments/footer :: adminfooter}"></div>
</body>
</html>