<!DOCTYPE html>
<html>

<head>
	<title>
		Puntopallone - Homepage
	</title>
</head>

<body>
	<div th:replace="~{fragments/header :: header}"></div>
	<h1>
		PUNTOPALLONE (WIP)
	</h1>
	<div>
		<a href="/arbitri">arbitri</a>
	</div>
	<div>
		<a href="/giocatori">giocatori</a>
	</div>
	<div>
		<a href="/partite">partite</a>
	</div>
	<div>
		<a href="/squadre">squadre</a>
	</div>
	<div>
		<a href="/tornei">tornei</a>
	</div>
	<div>
		<a href="/login"> login </a>
	</div>
	<div>
		<a href="/register"> registrati </a>
	</div>
</body>

</html>