<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Amministrazione - Puntopallone</title>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <h1>Area amministrativa</h1>
    <ul>
        <li><a th:href="@{/admin/tornei}">Gestione Tornei</a></li>
        <li><a th:href="@{/admin/squadre}">Gestione Squadre</a></li>
        <li><a th:href="@{/admin/giocatori}">Gestione Giocatori</a></li>
        <li><a th:href="@{/admin/partite}">Gestione Partite</a></li>
    </ul>
    <p><a th:href="@{/}">Torna alla homepage pubblica</a></p>
</body>
</html>