<!DOCTYPE html>
<html>

<head>
	<title>
		Torneo
	</title>
</head>

<body>
	<h1>
		Dettagli Torneo
	</h1>
	<div th:if="${torneo}">
		<div>
			<strong>Nome:</strong>
			<span th:text="${torneo.nome}"> Nome </span>
		</div>
		<div>
			<strong>Anno:</strong>
			<span th:text="${torneo.anno}"> Anno </span>
		</div>
		<div>
			<strong>Descrizione:</strong>
			<span th:text="${torneo.descrizione != null ? torneo.descrizione : 'Nessuna descrizione'}"> Descrizione
			</span>
		</div>
		<div>
			<strong>Squadre partecipanti:</strong>
			<ul>
				<li th:each="squadra : ${torneo.squadrePartecipanti}">
					<a th:href="@{'/squadre/' + ${squadra.id}}">
						<span th:text="${squadra.nome}"> Nome </span>
					</a>
				</li>
			</ul>
			<ul th:if="${torneo.squadrePartecipanti.isEmpty()}"> Nessuna squadra partecipa a questo torneo</ul>
		</div>
		<div>
			<strong>Partite programmate:</strong>
			<th:block
				th:with="partiteProgrammate=${torneo.partiteDelTorneo.?[stato == T(it.ur3.siw.model.enums.Stato).SCHEDULED]}">
				<ul th:if="${!partiteProgrammate.isEmpty()}">
					<li th:each="partita : ${partiteProgrammate}">
						<a th:href="@{'/partite/' + ${partita.id}}">
							<span
								th:text="${partita.squadraInCasa.nome} + ' vs ' + ${partita.squadraInTrasferta.nome} + ' (' + ${#temporals.format(partita.dataEOraInizioPartita, 'dd/MM/yyyy')} + ')'">
								Nome (Data)
							</span>
						</a>
					</li>
				</ul>
				<ul th:if="${partiteProgrammate.isEmpty()}">Nessuna partita programmata</ul>
			</th:block>
		</div>

		<div>
			<strong>Partite già giocate:</strong>
			<th:block
				th:with="partiteGiocate=${torneo.partiteDelTorneo.?[stato == T(it.ur3.siw.model.enums.Stato).PLAYED]}">
				<ul th:if="${!partiteGiocate.isEmpty()}">
					<li th:each="partita : ${partiteGiocate}">
						<a th:href="@{'/partite/' + ${partita.id}}">
							<span
								th:text="${partita.squadraInCasa.nome} + ' vs ' + ${partita.squadraInTrasferta.nome} + ' (' + ${#temporals.format(partita.dataEOraInizioPartita, 'dd/MM/yyyy')} + ')'">
								Nome (Data)
							</span>
						</a>
					</li>
				</ul>
				<ul th:if="${partiteGiocate.isEmpty()}">Nessuna partita già giocata</ul>
			</th:block>
		</div>
		<div>
			<strong>Classifica:</strong>
			<table th:if="${!classifica.isEmpty()}">
				<thead>
					<tr>
						<th>Pos.</th>
						<th>Squadra</th>
						<th>PT</th>
						<th>PG</th>
						<th>V</th>
						<th>P</th>
						<th>S</th>
						<th>DR</th>
						<th>GF:GS</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="entry, iterStat : ${classifica}">
						<td th:text="${iterStat.index + 1}">1</td>
						<td>
							<a th:href="@{'/squadre/' + ${entry.squadra.id}}" th:text="${entry.squadra.nome}">Nome</a>
						</td>
						<td th:text="${entry.punti}">0</td>
						<td th:text="${entry.partiteGiocate}">0</td>
						<td th:text="${entry.vinte}">0</td>
						<td th:text="${entry.pareggiate}">0</td>
						<td th:text="${entry.perse}">0</td>
						<td th:text="${entry.differenzaReti}">0</td>
						<td th:text="${entry.golFatti} + ':' + ${entry.golSubiti}">0:0</td>
					</tr>
				</tbody>
			</table>
			<ul th:if="${classifica.isEmpty()}">Nessuna squadra partecipante o nessuna partita giocata.</ul>
		</div>
	</div>
</body>

</html>